html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;/*Cuando pasemos el curso por encima este se convertira en una mano*/
}
header{
    width: 100%;
    height: 60px;
}
.nav-main{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 13px 0px;
}
.nav-main-list{
    width: 250px;
    height: auto;/*Toma de forma automatica la altura del padre*/
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-main-list a{
    margin-right: 20px;
    color: #000000;
}
a:hover{
    text-decoration:underline;
}

/*No utilice este codigo del profesor ya que no hacia el cambio de cursor a mano, utilizando como una imagen de fondo*/
/*.nav-main-list .menu-icon{*/
    /*Trae el icon directamente de internet*/
    /*background-image: url('https://static.thenounproject.com/png/756729-200.png');*/
    /*Para que la imagen no se repita si es demaciado grande o demasiado pequeña*/
    /*background-repeat: no-repeat;*/
    /*Para que la imagen quede al centro*/
    /*background-position: center;*/
    /*Para que la imagen se aproxime al tamaño del contenedor*/
    /*background-size: contain;
    width: 25px;
    height: 25px;
}
*/
.nav-main-list .user{
    border-radius: 50%;
    margin-left: 10px;
}
.nav-main-list .user:hover{
    box-shadow: 0px 0px 3px 2px #82838547;   
}
.nav-main-list .icon{
    width: 25px;
    height: 25px;
    opacity: 70%;/*Opaca la imagen*/
    border-radius: 100px;
}
.nav-main-list .icon:hover{
    background-color: rgb(226, 225, 225);
    box-shadow: 0px 0px 1px 7px rgb(226, 225, 225);
}
/*ESTILOS DEL MAIN------------------------------------*/
main{
    text-align: center;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 22px;
}
main .main-input{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}
main .main-input-container{
    width: 595px;
    border-radius: 100px;
    border: 1px solid #e2e4e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input{
    width: 500px;
    height: 41px;
    border: none;/*Quita los bordes del input*/
    outline: none;/*Quita un borde interno del input*/
    margin: 0 10px;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;/*Efecto sombra en el input*/
    border-color: #20212447;
}
main .main-input .search-icon{
    background-image: url('https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: 70%;
}
main .main-input .micro-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
    width: auto;
}
main .main-buttons button{
    height: 36px;
    padding: 0px 18px;
    margin-right: 10px;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    font-size: 1.4rem;
}
main .main-buttons button:hover{
    border: 1px solid #dddfe2;
    box-shadow: 0 1px 1px #efefef;
    cursor: pointer;
}
main .main-buttons button:focus{
    border: 1px solid #5c9afe;
}
/*ESTILOS DEL FOOTER---------------------------------*/
footer {
    width: 100%;
    height: 94px;
    position: absolute;/*Ubica en la parte inferior el footer sin scroll*/
    bottom: 0;/*Ubica en la parte inferior el footer sin scroll*/
    background-color: #f2f2f2;
}
footer .footer-pais{
    height: 47px;
    margin-left: 30px;
    padding-top: 15px;
} 
footer .footer-pais span{
    font-size: 1.5rem;
    color: #86778d;
}
footer .footer-main{
    height: 47px;
    /*NO UTILICE ESTE CODIGO, PARA POSICIONAR MEJOR EL CONTENIDO DEL FOOTER CON DISPLAY FLEX*/
    /*Divide el contenedor en el numero de columnas que le indiquemos*/
    /*display: grid;*/
    /*Indica el numero de columnas del display grid*/
    /*grid-template-columns: 1fr 1fr;*/
    display: flex;
    align-items: center;
    border-top: 1px solid #e1e2e5;
}
footer .footer-main ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 30px;
}
footer .footer-main ul a {
    color: #86778d;
    padding-right: 30px;
}
footer .footer-main .footer-main-left{
    justify-self: left;/*Justifica a la derecha*/
    width: 60%;
}
footer .footer-main .footer-main-right{
    justify-content:flex-end;
    width: 40%;
}